*~
*.o
*.jpg
*.png
*.tar.gz
*.txt
*.txt.new
programs/satscaler/DevIL
programs/satscaler/include
programs/satscaler/lib
programs/satscaler/man
programs/satscaler/http-fetcher
programs/labelserv/labelserv_commons
programs/labelserv/labelserv_ffdb
maintenance/__pycache__
maintenance/master.inc
